{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <!-- Using memegen.link to dynamically generate a meme -->
    <h1>{{ top | urlencode }}</h1>
    <img class="border img-fluid" src="https://www.memecreator.org/static/images/memes/5609844.jpg">
    <h1>{{ bottom | urlencode }}</h1>
    <!--<img alt="{{ bottom }}" class="border img-fluid" src="https://memegen.link/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?alt=https://www.memecreator.org/static/images/memes/5609844.jpg" title="{{ top }}">-->
{% endblock %}
